/* цвет акцента: #2196F3 */
/* цвет заголовков:#212121 */
/* основной цвет: #757575 */
/* Белый цвет: #FFFFFF */
:root {
  --head-color: #212121;
  --akcent-color: #2196f3;
  --white-color: #ffffff;
  --main-color: #757575;
}

body {
  color: var(--main-color);
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  color: var(--head-color);
}

/* HEADER */
.logo-color {
  color: var(--akcent-color);
}
.logo {
  color: var(--head-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.contact-list {
  color: var(--main-color);
}

/* NAVIGATION */

.nav-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-list a {
  color: var(--head-color);
}
.nav-list a:hover,
.nav-list a:focus,
.nav-list a:active {
  color: var(--akcent-color);
}
.contact-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contact-list:hover,
.contact-list:focus {
  color: var(--akcent-color);
}

/* HERO */
.hero-title {
  color: var(--white-color);
}

.button {
  color: var(--white-color);
  background-color: var(--akcent-color);
}
/* BENEFITS */
.benefits-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.benefits-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
/* WHATWEDO */

.dolist-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.dolist-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

/* TEAM */

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-cards h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.team-cards p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
}

/* CLIENTS */
.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

/* FOOTER */
.logo-scnr {
  color: var(--white-color);
}

.footer {
  background-color: #2f303a;
}

.adress-footer {
  color: var(--white-color);
}

.ftr-do {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}
