.nav-item {
  .logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
  a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $primeryTextColor;
  }
}
.logo-color {
  color: $textColorAccent;
}

.nav-link {
  & a:hover {
    color: $textColorAccent;
  }
}

.auth-nav {
  display: flex;
  a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $secondaryTextColor;
  }

  & a:hover {
    color: $textColorAccent;
    fill: $textColorAccent;
  }
}
