// colors
$primeryTextColor: #212121;
$secondaryTextColor: #757575;
$textColorAccent: #2196f3;
$whitecolor: #ffffff;
// Копирейт в футере rgba
$footerCopyrightColor: rgba(255, 255, 255, 0.4);
// cubic-bezier
$animationTimingFunction: cubic-bezier(0.4, 0, 0.2, 1);
